<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <h2>Benvenuto in Flash Mob(ile)</h2>
    <p>
      Flash Mob(ile) è un'applicazione di messaggistica GRATUITA disponibile per Android e altri smartphone. Flash Mob(ile) usa la connessione 
      internet del telefono (4G/3G/2G/EDGE o Wi-Fi, a seconda della disponibilità) per consentirti di messaggiare e chiamare amici e famigliari.
      Passa da WhatsApp a Flash Mob(ile) per inviare e ricevere messaggi, chiamate, foto, video, documenti e messaggi vocali. 
    </p>
    <br/><br/>
    <div>
      <h3 ng-hide="vm.settings.isRegistrato">Questo dispositivo deve essere registrato.</h3>
      <p ng-hide="vm.settings.isRegistrato">
        Premendo il pulsante verrà registrato usando le seguenti informazioni:
      </p>
      <p ng-show="vm.settings.isRegistrato">
        Questo dispositivo risulta registrato con le seguenti informazioni:
      </p>            
      <ul class="list">
        <li class="item item-icon-left">
          <i class="icon ion-ios-telephone-outline"></i>
          CallerId:<strong>{{vm.settings.callerId}}</strong>
        </li>
        <li class="item item-icon-left">
          <i class="icon ion-person-stalker"></i>
          DeviceId:<strong>{{vm.settings.deviceId}}</strong>
        </li>
      </ul>      
      <button class="button button-full button-positive" 
              ng-hide="vm.settings.isRegistrato"
              ng-click="vm.registrati()">Registrati</button>
      <button class="button button-full button-positive" 
              ng-show="vm.settings.isRegistrato"
              ng-click="vm.rimuovi()">Rimuovi registrazione</button>              
    </div>
  </ion-content>
</ion-view>
